// main: main.less

@blue-main: #3279aa;

a:visited,
a {
  transition: .3s;
  color: @blue-main;
}

.ms-WPBody,
body {
  font-family: Lato, san-serif;
  font-size: 16px;
  overflow-x: hidden;
  font-size:16px;
  h1,
  h2,
  h3,
  h4 {
    a:hover,
    a:visited,
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  h1,
  h2 {
    font-weight: 400
  }
  a:visited,
  a {
    transition: .3s;
    color: @blue-main;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
}

body {
  background-image: url(/SiteAssets/images/background_main.png);
  background-size: cover;
}

body,
.ms-WPBody {

  h4,
  h5,
  h6 {
    color: #626262;
  }

  svg,
  img {
    vertical-align: middle;
  }

  .btn.btn-default {
    margin-bottom: 11px;
    border: 0;
    padding-left: 25px;
    padding-right: 25px;
    background-color: @brand-primary;
    color: #fff;
    &:focus,
    &:hover {
      background-color: darken(@brand-primary, 8%);
    }
    &.purple {
      background-color: lighten(@purple, 11%);
      color: #fff;
      &:focus,
      &:hover {
        background-color: lighten(@purple, 3%);
      }
    }
    &.teal {
      background-color: darken(@teal, 5%);
      color: #fff;
      &:focus,
      &:hover {
        background-color: lighten(@teal, 2%);
      }
    }
  }

  .btn.btn-block {
    display: table;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 5em;
    border: 2px solid darken(@brand-primary,8%);
    border-radius: 0;
    padding: 0 20px;
    background-color: transparent;
    color: darken(@brand-primary,10%);
    font-size: 18px;
    line-height: 1.2em;
    white-space: normal;
    > * {
      display: table-cell;
      vertical-align: middle;
      height: 5em;
    }
    &:hover,
    &:focus {
      background-color: darken(@brand-primary,8%);
      color: #fff;
      text-decoration: none;
    }
    @media (min-width: @grid-float-breakpoint ) {
      font-size: 21px;
    }
  }

  .panel-primary {
    border: none;
  }

  .panel-heading {
    border: none;
  }

  .content-wrapper {
    position: relative;
    padding: 0;
    .main-content ul:not([type]),
    .main-content ul:not([class]) {
      list-style: none!important;
      padding-left: 0;
      >li {
        position: relative;
        padding-left: 30px;
        &:before {
          content: '';
          background-color: @brand-primary;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          display: table-cell;
          position: absolute;
          vertical-align: middle;
          left: 10px;
          top: .5em;
        }
      }
    }
    .main-content ul {
      &.blue-bullets {
        >li:before {
          background-color: #017cbd;
        }
      }
      &.teal-bullets {
        >li:before {
          background-color: #005162;;
        }
      }
      &.purple-bullets {
        >li:before {
          background-color: lighten(@purple,21%);
        }
      }
      &.gray-bullets {
        >li:before {
          background-color: #314953;
        }
      }
      &.navy-bullets {
        >li:before {
          background-color: lighten(#092f54,6%);
        }
      }
    }
  }

  .main-content {
    padding: 0 15px 0;
    ol,
    ul {
      margin-bottom: 22px;
      padding-left: 20px;
      li {
        margin-bottom: .3em;
        a:visited,
        a {
          color: inherit;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
    .panel-body {
      > ul {
  //      padding-left: 20px;
        li a:visited,
        li a {
          color: inherit;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .resources-wrapper {
    background-color: #f4f1f8;
    .panel-heading {
      color: #fff;
      font-weight: 600;
    }
    .panel-body {
      border: 1px solid #dedede;
      border-top: 0;
    }
    .panel1 .panel-heading {
      background-color: #7c5da0 !important;
    }
    .panel2 .panel-heading {
      background-color: #563480!important;
    }
    .panel3 .panel-heading {
      background-color: #442e5d!important;
    }
  }

  .content-wrapper.purple,
  .resources-wrapper {
    .main-content ul:not([class]) > li:before {
      background-color: lighten(@purple,18%);
    }
  }

  .content-wrapper.teal,
  .sharepoint-wrapper {
    .main-content ul:not([class]) > li:before {
      background-color: lighten(@teal,6%);
    }
  }

  .middle-content {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .media-padb {
    margin: 20px 0 10px;
    font-weight: 400;
  }

  .form-control-search {
    display: inline !important;
  }

  .nih-top-logo {
    display: block;
  //  margin-bottom: 10px;
    text-decoration: none !important;
    color: #555b62;
    white-space: nowrap;
    img,
    svg {
      width: 92px;
      height: 55px;
      margin-right: 5px;
    }
    svg {
      .st0{fill:#545C66;}
      .st1{fill:@blue-main;}
    }
    a:visited,
    a {
      color: inherit;
    }
    span {
      display: block;
    }
    @media (max-width: @grid-float-breakpoint ) {
      img,
      svg {
        width: 66px;
        height: 52px;
        margin-right: 3px;
      }
    }
  }

  .nih-text {
    line-height: 51px;
    font-weight: 600;
    font-size: 21px;
    color: #555b62;
    &:hover,
    &:focus {
      text-decoration: none !important;
      color: #555b62 !important;
    }
    @media (max-width: @grid-float-breakpoint ) {
      line-height: 50px;
      font-size: 17px;
    }
  }

  .nih-text-sm {
    font-size: 14px;
    line-height: 13px;
    font-weight: 600;
    font-style: italic;
    margin-top: -9px;
    color: #555b62;
    &:hover,
    &:focus {
      text-decoration: none !important;
      color: #555b62 !important;
    }
    @media (max-width: @grid-float-breakpoint ) {
      font-size: 12px;
      line-height: 5px;
      margin-top: -11px;
    }
  }

  .logo {
    padding: 5px 15px;
    @media screen and (min-width: @screen-sm) {
      padding: 22px 15px;
    }
  }

  .logo-padding {
    padding: 0 0 20px 0px;
  }

  .nih-badge {
    float: left;
    padding-right: 5px;
  }

  .top-header {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    color: @blue-main;
    a span {
      display: inline-block;
      font-size: 20px;
      line-height: 20px;
      @media (max-width: @grid-float-breakpoint ) {
        font-size: 16px;
      }
    }
    @media screen and (min-width: @screen-sm) {
      padding-top: 12px;
    }
  }

  .intranet {
    padding-left: 4px;
  }

  .finmanagement {
    font-weight: bold;
    color: #305c96;
    margin-left: -12px;
    @media (min-width: @grid-float-breakpoint ) {
      border-right: 1px solid @gray-light;
      padding-right: 10px;
    }
  }

  .top-padding {
    padding-top: 20px;
  }

  .mid-background {
    background-color: transparent !important;
  }

  @nav-indexing: 5;
  @collapsed-nav-width: 100%;
  .nav-left {
    float: none;
    background-color: #f3f3f3;
    >li {
      display: table;
      width: 100%;
      margin: 0;
      >a>svg,
      >a>img {
        position: absolute;
        top: 16px;
        left: 15px;
        width: 62px;
        height: 62px;
        fill: @gray-light;
        @media screen and (max-width: @screen-sm-max) {
          display: none;
        }
      }
      >a,
      >a:visited {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        z-index: @nav-indexing;
        background-repeat: no-repeat;
        background-position: 15px center;
        padding: 0 15px 0px 92px;
        color: #565e66;
        font-size: 20px;
        @media screen and (min-width: @screen-md) {
          height: 97px;
        }
        @media screen and (max-width: @screen-sm-max) {
          font-size: 1.2em;
          line-height: 1.1em;
          background-image: none;
          width: @collapsed-nav-width;
          height: 20%;
          display: block;
          margin: 0 !important;
          padding: 8px 0px 6px 15px !important;
        }
        @media screen and (max-width: @screen-xs-max) {
          display: block;
          margin: 0 !important;
          width: 100%;
          background-position: 5% center;
          background-size: 30px 22px;
          height: 20%;
        }
        &:hover,
        &:focus {
          background-color: #00509b;
          color: #fff;
          svg {
            fill: #fff;
          }
          @media screen and (max-width: @screen-md) {
            font-size: 1.2em;
            line-height: 1.1em;
            background-image: none;
          }

        }
      }
    }
  }

  @media screen and (max-width: @screen-sm-max) {
    .navbar-nav>li>a{
      >svg,
      >img {
        display: none;
      }
    }
    .navbar .navbar-nav .sub-nav svg {
      fill: #fff;
    }
    .navbar .navbar-nav.nav-left .sub-nav svg,
    .navbar .navbar-nav .sub-nav-back svg {
      fill: @brand-primary;
    }
  }

  @media screen and (min-width: @screen-md) {
    .navbar .navbar-nav>li>ul {
      display: none!important;
    }
  }

  @nav-internal-height: 88px;
  @nav-internal-offset: 15px;

  .nav-left-internal {
    background-color: transparent;
    @media screen and (min-width: @screen-md) {
      margin-top: @nav-internal-offset;
    }
    >li {
      @media screen and (min-width: @screen-md) {
  //      display: table;
  //      float: left;
        display: inline-block;
        width: 20%;
        padding-left: 3px;
        padding-right: 3px;
      }
      >a:visited,
      >a {
        position: relative;
        z-index: @nav-indexing;
        height: @nav-internal-height;
        background-repeat: no-repeat;
        background-position: 15px center;
        padding: 0 15px 0px 92px;
        color: white!important;
        transition: .3s;
        >img,
        >svg {
          position: absolute;
          height: 56px;
          width: 62px;
          top: 50%;
          margin-top: -28px;
  //        bottom: 18px;
  //        margin-bottom: -30px;
          left: 15px;
        }
        >svg {
          transition: .3s;
          fill: rgba(255,255,255,.5);
        }
        @media screen and (min-width: @screen-md) {
          display: table;
          width: 100%;
          font-size: 22px;
  //        font-weight: 600;
          >span {
            display: table-cell;
            vertical-align: middle;
          }
        }
        @media screen and (max-width: @screen-sm-max) {
          font-size: 1.2em;
          line-height: 1.1em;
          background-image: none;
          width: @collapsed-nav-width;
          height: 20%;
          display: block;
          margin: 0 !important;
          padding: 8px 0px 6px 15px !important;
        }
        @media screen and (max-width: @screen-xs-max) {
          display: block;
          margin: 0 !important;
          width: 100%;
          background-position: 5% center;
          background-size: 30px 22px;
          height: 20%;
        }
        &:hover,
        &:focus {
          @media screen and (min-width: @screen-md) {
            margin-top: -@nav-internal-offset;
            height: @nav-internal-height + @nav-internal-offset;
          }
          color: #fff;
          svg {
            fill: #fff;
          }
          @media screen and (max-width: @screen-sm-max) {
            margin-top: 0;
            height: auto;
            font-size: 1.2em;
            line-height: 1.1em;
            background-image: none;
          }
        }
      }
      &.active,
      &.selected {
        a,
        a:hover,
        a:focus {
          @media screen and (min-width: @screen-md) {
            margin-top: -@nav-internal-offset;
            height: @nav-internal-height + @nav-internal-offset;
          }
          @media screen and (min-width: @grid-float-breakpoint) {
            color: #fff;
            svg {
              fill: #fff;
            }
          }
          @media screen and (max-width: @screen-sm-max) {
            font-size: 1.2em;
            line-height: 1.1em;
            background-image: none;
          }
        }
      }
      &:first-child >a {
          background-color: #017cbd;
          &:hover,
          &:focus {
            background-color: darken(#017cbd,4%);
          }
      }

      &:nth-child(2) >a {
          background-color: #005162;
          &:hover,
          &:focus {
            background-color: lighten(#005162, 6%);
          }
      }

      &:nth-child(3) >a {
          background-color: #442e5d;
          &:hover,
          &:focus {
            background-color: lighten(#442e5d, 6%);
          }
      }

      &:nth-child(4) >a {
          background-color: #314953;
          &:hover,
          &:focus {
            background-color: lighten(#314953, 6%);
          }
      }

      &:nth-child(5) >a {
          background-color: #092f54;
          &:hover,
          &:focus {
            background-color: lighten(#092f54, 6%);
          }
      }
    }
  }

  .gradient-overlay {
    position: relative;
    z-index: 0;
    &:before {
      content: '';
      z-index: -1;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: .3s;
  //    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  //    /* FF3.6-15 */
  //    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  //    /* Chrome10-25,Safari5.1-6 */
  //    background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  //    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    a&:hover:before,
    a&:focus:before {
      background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }

  .gradient-overlay-horizontal {
    position: relative;
    z-index: 0;
    &:before {
      content: '';
      z-index: -1;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: .3s;
    }
    a&:hover:before,
    a&:focus:before {
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }

  .navbar-internal.collapse.in {
    display: block !important;
  }

  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.
  // former long classes for slider tabs //

  .flexslider-wrapper {
    .ms-WPBody {
      overflow-x: visible;
    }
  }

  @media screen and (min-width: @screen-md) {
    .flexslider-wrapper {
      padding-left: 224px;
    }
  }

  .slider-tabs {
    a {
      position: relative;
      @media screen and (max-width: @screen-xs-max) {
        display: none;
        top: 241px;
        width: 100%;
        position: absolute;
        height: 20%;
        font-size: 24px;
        margin: 0;
        padding: 20px;
        transition: .3s;
        line-height: 1.8em;
        z-index: 99;
      }
    }
    a.flex-active:after {
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      width: 0;
      height: 0;
      margin-left: -20px;
      content: "";
      display: block;
      position: absolute;
      top: -20px;
      left: 50%;
      z-index: 2;
      @media screen and (max-width: @screen-xs-max) {
        display: none;
      }
    }
  }

  #boxslider {
    position: relative;
    z-index: 100;
    overflow: visible;
    overflow-x: hidden;
    .slides li {
      a {
        position: relative;
        @media screen and (max-width: @screen-xs-max) {
          display: none;
          top: 241px;
          width: 100%;
          position: absolute;
          height: 20%;
          font-size: 24px;
          margin: 0;
          padding: 20px;
          transition: .3s;
          line-height: 1.8em;
          z-index: 99;
        }
      }
      &:first-child,
      &:nth-child(6),
      &:nth-child(11) {
        a {
          background-color: #1f4675;
        }
        &.flex-active-slide a:after {
        border-bottom: 20px solid #1f4675;
        }
      }

      &:nth-child(2),
      &:nth-child(7),
      &:nth-child(12) {
        a {
          background-color: #1d6479;
        }
        &.flex-active-slide a:after {
          border-bottom: 20px solid #1d6479;
        }
      }

      &:nth-child(3),
      &:nth-child(8),
      &:nth-child(13) {
        a {
          background-color: #2f1954;
        }
        &.flex-active-slide a:after {
          border-bottom: 20px solid #2f1954;
        }
      }

      &:nth-child(4),
      &:nth-child(9),
      &:nth-child(14) {
        a {
          background-color: #455e6a;
        }
        &.flex-active-slide a:after {
          border-bottom: 20px solid #455e6a;
        }
      }

      &:nth-child(5),
      &:nth-child(10),
      &:nth-child(15) {
        a {
          background-color: #0a2341;
        }
        &.flex-active-slide a:after {
          border-bottom: 20px solid #0a2341;
        }
      }
    }
    .slides li.flex-active-slide a:after {
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      width: 0;
      height: 0;
      margin-left: -20px;
      content: "";
      display: block;
      position: absolute;
      top: -20px;
      left: 50%;
      z-index: 2;
    }
    @media screen and (max-width: @screen-xs-max) {
      display: none;
    }
  }

  .media {
    min-height: 163px;
    margin-top: 20px;
    padding-bottom: 20px;
    h3 {
      font-size: 20px;
      color: @blue-main;
      a {
        &:hover,
        &:focus {
          color: lighten(@blue-main, 9%);
        }
      }
    }
    .pull-left {
      width: 148px;
      height: 148px;
      overflow: hidden;
      img {
        width: 148px;
        height: auto;
      }
    }
    &.media-sm {
      min-height: 112px;
      margin-top: 10px;
      padding-bottom: 10px;
      h3 {
        font-size: 18px;
      }
      .pull-left {
        width: 97px;
        height: 97px;
        overflow: hidden;
        img {
          width: 97px;
          height: auto;
        }
      }
    }
  }

  .media-heading {
    display: block;
    font-size: 1.1em;
    font-weight: 600;
  }

  .announcements {
    .media {
      &:not(:last-of-type) {
        border-bottom: dotted #d6d6d6;
      }
    }
  }

  .ofm-announcements {
    color: #207ac9;
  }

  .event-date {
    color: #2c788f;
    font-weight: 300;
    a {
      display: block;
      color: inherit;
      &:hover,
      &:focus {
        color: saturate(lighten(#2c788f, 5%), 15%);
      }
    }
  }

  .event-header {
  //  font-size: @font-size-base;
    font-weight: bold;
    margin-bottom: 4px;
    a {
      color: inherit;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .section-header,
  .ofm-main-header {
  //  margin-top: 0;
    position: relative;
    margin-bottom: 20px;
//    padding-left: 58px;
    color: #257eca;
    a {
      color: inherit;
    }
    svg,
    img {
//      position: absolute;
//      left: 0;
//      top: -8px;
      height: 48px;
      margin-top: -8px;
      width: 50px;
//      vertical-align: top;
      margin-right: .3em;
    }
    svg {
      fill: #257eca;
    }
    @media (max-width: @grid-float-breakpoint ) {
      font-size: 1.675em;
//      padding-left: 46px;
      svg,
      img {
        top: -4px;
        height: 37px;
        width: 40px;
      }
    }
    &.teal {
      color: #005162;
      svg {
        fill: #005162;
      }
    }
    &.purple {
      color: #442e5d;
      svg {
        fill: #442e5d;
      }
    }
    &.blue {
      color: #017cbd;
      svg {
        fill: #017cbd;
      }
    }
    &.gray {
      color: #314953;
      svg {
        fill: #314953;
      }
    }
    &.navy {
      color: #092f54;
      svg {
        fill: #092f54;
      }
    }
  }

  .header-spacing {
    margin-right: 10px;
  }

  //.prev-next-arrow {
  //  margin-top: 15px;
  //  @media (max-width: @screen-xs-max) {
  //    display: none;
  //  }
  //}
  //
  //.prev-next-arrow1 {
  //  margin-top: 15px;
  //  @media (max-width: @screen-xs-max) {
  //    display: none;
  //  }
  //  @media (max-width: @screen-sm-max) {
  //    margin-left: 0px;
  //  }
  //}

  .flex-text,
  .flex-text-sm {
    color: inherit;
    a {
      color: inherit;
    }
  }

  .flex-text {
    margin-top: 0;
    font-size: 25px;
    color: #1f4675;
//    text-align: center;
    @media screen and (max-width: 768px) {
//      text-align: center;
      font-size: 18px;
    }
  }

  .flex-text-sm {
    font-size: 20px;
    @media screen and (min-width: 100px) and (max-width: 1100px) {
//      text-align: center;
      font-size: 15px;
    }
  }

  .navbar-header-bg {
    background-color: #00549f;
    @media screen and (min-width: @screen-md) {
      display: block;
    }
  }

  .form-width {
    width: 113%;
    @media screen and (max-width: @screen-sm-max) {
      width: 90%;
    }
  }

  #custom-search-form {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    @media screen and (min-width: 200px) and (max-width: 1033px) {
      width: auto !important;
      margin-bottom: 10px;
    }
  }

  #custom-search-form .search-query {
    width: 290px;
    padding: 3px 5px;
  }

  #custom-search-form input[type=submit] {
    border: 0;
    background-image: url(/SiteAssets/images/search-icon.png);
    background-size: auto 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 29px;
    height: 30px;
    text-indent: -200000em;
    position: relative;
    margin-left: -33px;
    transition: .3s;
  }

  #custom-search-form .search-query:focus ~input[type=submit],
  #custom-search-form input[type=submit]:hover,
  #custom-search-form input[type=submit]:focus {
    background-image: url(/SiteAssets/images/search-icon-blue.png);
  }

  .search-query:focus+button {
    z-index: 3;
  }

  //new navbar collapsing much sooner
  @media screen and (max-width: @screen-sm-max) {
    .navbar-header {
      float: none;
    }
    .navbar-left,
    .navbar-right {
      float: none !important;
    }
    .navbar-collapse {
      border-top: 0;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar .navbar-nav .sub-nav {
      right: 10px;
      top: -4px;
    }
    .collapse.in {
      display: block !important;
      overflow: hidden;
    }
  }

  @media screen and (max-width: @screen-sm-max) {
    .navbar .navbar-nav .sub-nav {
      display: block !important;
    }
  }

  .nhb-high {
    padding-right: 0;
    padding-left: 0;
  }

  .internal-bg {
    background-color: #ffffff;
  }

  .sidebar-content {
    line-height: 1.3em;
  }

  .panel-group#accordionMenu {
    .panel+.panel {
      margin-top: 0;
      border-top: 0;
    }
    .panel {
      border-radius: 0;
      border: 0;
      ul {
        margin: 0;
        padding-left: 0;
        list-style: none!important;
        font-size: 17px;
        >li>a {
          &:hover,
          &:focus {
            background-color: @sidebar-blue;
            color: white;
          }
          &.active,
          &.selected {
            >a:visited,
            >a {
              background-color: @sidebar-blue;
              color: white;
              &:before {
                background-color: white;
              }
            }
          }
        }
        li {
          a:visited,
          a {
            color: inherit;
          }
          a {
            display: block;
            position: relative;
            padding: 6px 15px 6px 33px;
            color: inherit;
            text-decoration: none;
            line-height: 1.25em;
//            &:before {
//              content: '';
//              position: absolute;
//              display: inline-block;
//              top: .7em;
//              left: 17px;
//              width: 6px;
//              height: 6px;
//              border-radius: 50%;
//              background-color: @blue-main;
//            }
            &:hover,
            &:focus {
              color: inherit;
              background-color: desaturate(lighten(@sidebar-blue,52%),32%);
            }
          }
          &.active,
          &.selected {
            >a:visited,
            >a {
              color: inherit;
              background-color: desaturate(lighten(@sidebar-blue,52%),32%);
            }
          }
        }
      }
    }
    .panel-heading,
    .panel-body {
      position: relative;
      padding: 0;
      background-color: #f0f0f0;
      line-height: 1.1em;
    }
    .panel-default .panel-heading .panel-heading-link {
      position: relative;
      color: #333;
      background-color: #fff;
      border: 0;
      padding: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .panel-heading+.panel-collapse .panel-body {
      border-top: 0;
    }
    .panel-default .panel-heading .panel-heading-link {
      font-size: 21px;
      font-weight: 400;
      display: block;
      padding: 12px 40px 12px 15px;
      text-decoration: none;
      background-color: #f0f0f0;
      color: @sidebar-blue;
    }

    .panel-default .panel-heading .accordion-toggle {
      position: absolute;
      width: 2.3em;
      height: 100%;
      min-height: 2.3em;
      right: 0;
      top: 0;
      background-size: 1.5em 1.5em;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .panel-default .panel-heading .accordion-toggle[aria-expanded="false"] {
      background-image: url(/SiteAssets/images/arrow-right.png);
    }
    .panel-default .panel-heading:hover,
    .panel-default .panel-heading.active {
      .panel-heading-link {
        background-color: @sidebar-blue;
        color: #fff;
      }
    }
    .panel-default .panel-heading.active .accordion-toggle[aria-expanded="false"],
    .panel-default .panel-heading:hover .accordion-toggle {
      background-image: url(/SiteAssets/images/arrow-right-white.png);
    }
    .panel-default .panel-heading .accordion-toggle[aria-expanded="true"] {
      background-image: url(/SiteAssets/images/arrow-down.png);
    }
    .panel-default .panel-heading.active .accordion-toggle[aria-expanded="true"],
    .panel-default .panel-heading:hover .accordion-toggle[aria-expanded="true"] {
      background-image: url(/SiteAssets/images/arrow-down-white.png);
    }
  }

  @media screen and (min-width: @grid-float-breakpoint) {

    .sidebar-content {
      width: 296px;
      padding-top: 22px;
      padding-bottom: 22px;
    }
    .sidebar-content-left {
      float: left;
    }
    .sidebar-content-right {
      float: right;
    }
    .main-content-right {
      padding-left: 326px;
    }
    .main-content-left {
      padding-right: 326px;
    }
  }

  /*
  *  added by Addisu
  */

  @media screen and (min-width: @grid-float-breakpoint) {
    .nav-left-internal>li {
      float:left;
    }
  }
  .bulleted {
    list-style-type: inherit;
  }

  .section-header a:link,
  .section-header a:visited {
    text-decoration: none;
    color: inherit;
  }

  .btn.btn-default.teal {
    background-color: #185364 ;
    color: white;
  }
}

body #s4-bodyContainer{
  min-width: 0!important;
}
